

.contentCenter {
  text-align:  center;
  min-height: 30px;
}

.textWhite {
  color: white;
}

.defaultBackground {
  background: #001529;
}

.defaultMargin {
  margin-top : "100px";
}
